/*RESET CSS =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #175906;
  --second-color: #068FDC;
  --color-text: #fff; 
  --bg-color: #F0F0F0;
  --paragraph: ;

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

/*BASE =================== */
body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  font-family: 'Poppins', sans-serif;
  font-weight: 700;

  background-image: url(./assets/IMG_20181013_100255283_HDR\ \(1\)\ 3\ \(1\).jpg);
  background-position-x: 33%;
  background-repeat: no-repeat;

  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;

  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

/*====  scrollbar ============================ */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: var(--primary-color);
}

/* NAVIGATION in /navigation/navigation.css =================== */
/* footer in /footer/footer.css =================== */

/*HOME =================== */
#home .home-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80rem;

}

h1 {
  font-size: 4rem;
  color: var(--color-text);
  line-height: 130%;

  text-transform: uppercase;
}

/* input CEP or Localization =================== */

#input {
  background-color: var(--primary-color);
  margin-top: -4.3rem;

  height: 30vh;
}

.input {
  padding-top: 2rem;

  margin-top: -9rem;

  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}


#label {
  font-size: 3rem;
  color: var(--color-text);
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  min-height: 5rem;
  max-width: 20rem;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 6px 0 0 6px;
  background-color: var(--color-text);

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.button--submit {
  min-height: 5rem;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--second-color);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.button--submit:hover {
  background-color: #047ec5;
}

input:focus, input:focus-visible {
  border-color: var(--second-color);
  outline: none;
}

/* RAMOS =================== */
#ramos .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

#ramos h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

#ramos .card span {
  font-family: 'Ubuntu', sans-serif;
  
  margin-bottom: 1.3rem;
}

#ramos .card p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

#ramos .image-card {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 28rem;
  width: 25rem;

  border-radius: 1.5rem;

  margin-bottom: 2.6rem;

  transition: all 300ms ease-in-out;
  cursor: pointer;
}

#ramos .image-card:hover {
  -webkit-box-shadow: 1px 6px 15px -1px #000000; 
  box-shadow: 1px 6px 15px -1px #000000;
}

#lobinho .image-card {
  border: .3rem solid #FDB813;
}

#escoteiro .image-card {
  border: .3rem solid #00793A;
}

#senior .image-card {
  border: .3rem solid #A61744;
}

#pioneiro .image-card {
  border: .3rem solid #C00D0E;
}

/* NEWS =================== */

#news .line {
  display: flex;
  align-items: center;
  justify-content: center;
}

#news .regua {
  height: 1px;
  width: 100%;
  background-color: #000000;
}

#news h2 {
  color: var(--second-color);

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

#news .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;

}

#news .card  {
  border: 1px solid #000000;
  border-radius: 2rem;

  height: 28rem;
  width: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ABOUT =================== */

#about {
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
}

#about header {
  text-align: center;
}

#about header h2 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 2.4rem;
  color: var(--primary-color);
}

#about header span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

#about .content p {
  text-align: left;
  font-weight: 400;

  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#about .content img {
  border-radius: 2rem;
  width: 100%;
}

/* backToTop =================== */

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#backToTopButton svg {
  fill: var(--primary-color);

  transition: all 300ms ease-in-out;
}

#backToTopButton svg:hover {
  fill: var(--second-color);
}

/* RESPONSIVE =================== */

@media (min-width: 1300px) {
/* input 1300px =================== */

  #input {
  height: 20vh;
  }

/* geral 1300px =================== */

.wrapper {
  width: min(133rem, 100%);
}

} 









