/*RESET CSS =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #175906;
    --second-color: #068FDC;
    --color-text: #fff; 
    --bg-color: #F0F0F0;
    --paragraph: ;
  
    --nav-height: 7.2rem;
  
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }

/*====BASE============================ */

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

/*====  scrollbar ============================ */

::-webkit-scrollbar {
    width: 1rem;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: var(--primary-color);
  }

/*====HEADER============================ */
header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    font-weight: 700;

    margin-bottom: 3rem;

    margin-top: var(--nav-height);
}

/*====FORM============================ */

#form {
    background-color: var(--bg-color);
}

#form form {
    display: flex;
    flex-direction: column;
}

#form label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;

    margin-top: 3rem;
    margin-bottom: 1rem;
}

#form input {
    height: 4rem;
    border: none;

    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);

    padding: 2rem;

    width: min(60vw, 70%);
}

#form input:focus {
    outline: 2px solid var(--second-color);
}

#form textarea {
    border: none;

    height: 150px;
    line-height: 150%;
    resize:vertical;
    padding: 2rem;
    width: min(60vw, 70%);

    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);

}

#form textarea:focus {
    outline: 2px solid var(--second-color);
}

#form button {
    margin-bottom: 8rem;
    margin-top: 2rem;

    width: min(10rem, 40vw);

    background-color: var(--second-color);
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);

    padding: 1rem 2rem;

    color: var(--color-text);
}

#form button:hover {
    background-color: #047abe;
    box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.16);

}
  



